body{
	background: black;
	font-family: 'Joti One', cursive;
	margin: 15px 10px;
	text-align: center;
}

#game-msg-1{
	text-align: center;
    width: 100%;
    margin-bottom:20px;
}

#game-msg-1 h1{
	color: yellow;
    font-size: 25px;
    
}

#startButton{
	width: 80px;
	font-family: inherit;
    font-size: 18px;
    margin-top:20px;
}

#playerName{
	width: 300px;
	font-family: inherit;
	font-size: 18px;
}

#game-msg-2{
    text-align: center;
    margin-top:20px;
    margin-bottom:20px;
}

#game-msg-2-h1{
	color: floralwhite;
    font-size: 20px;
    margin-bottom:20px;
}

#player-1{
	border: 2px solid blue;
	height: 200px;
	text-align: center;
    position: relative;
    margin-bottom:20px;
}

#player-2{
	border: 2px solid blue;
	height: 200px;
	text-align: center;
    position: relative;
    margin-bottom:20px;
}

#playerOneH3, #playerTwoH3{
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin:  0px auto;
	font-family: inherit;
	font-size: 15px;
	color: yellow;
}

#playerOneH2, #playerOneH4, #playerOneH5, #playerTwoH2, #playerTwoH4, #playerTwoH5{
	color: floralwhite;
	font-size: 25px;
	margin: 20px auto;
}

.choices{
	cursor: pointer;
}

#playerOneH1, #playerTwoH1{
	color: orange;
	font-size: 22px;
}

#game-stat{
	border: 2px solid blue;
	font-family: inherit;
	font-size: 50px;
	color: yellow;
	text-align: center;
    padding-top: 60px;
    height:200px;
    margin-bottom:20px;
}

#chat-disp{
	text-align:  center;
}

#chatArea{
    width: 100%;
    margin-top:40px;
}

#textMessage{
    width: 100%;
    float:left;
}

#sendMessage{
    width: 65px;
    float:left;
    margin-top:10px;
}